:root {
	--loadValue: 440px;
	--mainColor: rgb(240, 240, 240);
	--secColor: rgb(44, 44, 44);
	--terColor: rgb(235, 230, 255);
	--quatColor: rgb(212, 201, 252);
	--pentColor: rgb(145, 145, 145);
}

* {
	pointer-events: none;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	padding: 8px;
}

.hcenter {
	margin-left: auto;
  margin-right: auto;
	text-align: center;
}

#main {
	max-width: 768px;
	min-width: 384px;
	margin: auto;
	background-color: var(--quatColor);
	display: flex;
	justify-content: center;
	align-items: center;
}

#content {
	display: flex;
	justify-content: left;
	align-items: center;
	flex-direction: column;
	text-shadow: 4px 4px 6px rgba(0, 0, 0, 0.15);
}

.loadingElement {
	height: 160px;
	width: 160px;
	margin: 40px clamp(20px, 5.21%, 40px);

	.skill {
		width: 160px;
		height: 160px;
	}

	.outer {
		width: 160px;
		height: 160px;
		padding: 20px;
		box-shadow: 6px 6px 10px -1px rgba(0, 0, 0, 0.15);
		background-color: var(--secColor);
		border-radius: 50%;
	}

	.inner {
		width: 120px;
		height: 120px;
		box-shadow: inset 4px 4px 6px -1px rgba(0, 0, 0, 0.15);
		background-color: var(--quatColor);
		border-radius: 50%;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	span {
		color: var(--secColor);
		pointer-events: all;
		opacity: 0;
		transition: opacity 0.6s;
		user-select: none;
		text-shadow: 4px 4px 6px rgba(0, 0, 0, 0.15);
	}

	circle {
		fill: none;
		stroke: url(#gradient);
		stroke-width: 15px;
		stroke-dashoffset: var(--loadValue);
		stroke-dasharray: 440px;
		transition: stroke-dashoffset 0.15s;
	}

	svg {
		transition: opacity 1s;
		position: relative;
		top: -160px;
	}
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: rgba(from var(--terColor) r g b / 50%);
  color: var(--secColor);
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  top: 105%;
  left: 50%;
	margin-top: 6px;
	margin-left: -60px;
  opacity: 0;
  transition: opacity 0.5s linear 1s;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent rgba(from var(--terColor) r g b / 50%) transparent;
}
.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}