:root {
	--loadValue: 440px;
	--mainColor: #2c2c2c;
	--secColor: #dddddd;
	--terColor: #201f22;
	--quatColor: #29292c;
	--pentColor: #242327;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	pointer-events: none;
}

body {
	height: 100%;
}

html {
	background-color: var(--mainColor);
	height: 100%;
}

.hcenter {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

#main {
	width: 768px;
	height: 100%;
	margin: 0px auto;
	padding: 8px 16px;
	background-color: var(--mainColor);

	h1 {
		color: var(--secColor);
		pointer-events: all;
	}
}

#modpackList>div {
	margin: 32px 0px;
}

#modpackAdd {
	display: flex;
	justify-content: center;

	span {
		color: var(--secColor);
		pointer-events: all;
		align-items: center;
		width: min-content;
		height: min-content;
		margin: 0px 32px;
		padding: 32px;
		background-color: var(--quatColor);
		user-select: none;
		box-shadow: 6px 6px 10px -1px rgba(0, 0, 0, 0.15);
		text-shadow: 4px 4px 6px rgba(0, 0, 0, 0.15);
		border-radius: 16px;
		transition: background-color 0.2s linear;
	}

	span:hover {
		background-color: var(--pentColor);
	}
}

.modpackContainer {
	box-shadow: 6px 6px 10px -1px rgba(0, 0, 0, 0.15);
	border-radius: 16px;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: background-color 0.2s linear;
	pointer-events: all;
}

.content {
	color: var(--secColor);
	display: flex;
	justify-content: left;
	align-items: center;
	flex-direction: column;
	text-shadow: 4px 4px 6px rgba(0, 0, 0, 0.15);
}

.loadingElement {
	height: 160px;
	width: 160px;
	margin: 40px clamp(20px, 5.21%, 40px);

	.loadingElement-static {
		width: 160px;
		height: 160px;
	}

	.outer {
		width: 160px;
		height: 160px;
		padding: 20px;
		box-shadow: 6px 6px 10px -1px rgba(0, 0, 0, 0.15);
		background-color: transparent;
		border-radius: 50%;
	}

	.inner {
		width: 120px;
		height: 120px;
		box-shadow: inset 4px 4px 6px -1px rgba(0, 0, 0, 0.15);
		border-radius: 50%;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	span {
		color: var(--secColor);
		opacity: 0;
		transition: opacity 0.6s;
		user-select: none;
		text-shadow: 4px 4px 6px rgba(0, 0, 0, 0.15);
	}

	svg {
		pointer-events: all;
		transition: opacity 1s;
		position: relative;
	}

	circle {
		fill: none;
	}

	.loadingElement-bg {
		stroke: var(--secColor);
		stroke-width: 20px;
	}

	.loadingElement-circle {
		stroke-width: 15px;
		stroke-dasharray: 440px;
		transition: stroke-dashoffset 0.15s;
	}
}

.tooltip {
	position: relative;
	display: inline-block;
}