:root {
	--loadValue: 440px;
	--mainColor: #ffffff;
	--secColor: #2c2c2c;
	--terColor: #ebe6ff;
	--quatColor: #dcd3ff;
	--shadowColor: #2c2c2c20;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	pointer-events: none;
	transition: background-color 0.2s linear;
}

::-webkit-scrollbar {
  display: none;
}

.hcenter {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.vcenter {
	padding: auto 0;
}

.vflex {
	display: flex;
	flex-direction: column;
}

.hflex {
	display: flex;
	flex-direction: row;
	height: 100%;
	width: 100%;
}

.fade50ms {
	opacity: 1;
	transform: opacity 0.05s linear;
}

html {
	background-color: var(--mainColor);
	height: 100%;
}

body {
	height: 100%;
	overflow: hidden;
}

a {
	pointer-events: all;
}

#promptBackground {
	background-color: var(--mainColor);
	color: var(--secColor);
	border-top: 8px solid var(--terColor);
	width: 100%;
	height: calc(100% - 124px);
	position: absolute;
	top: 100%;
	padding: 32px;
	display: flex;
	z-index: 2;
	flex-direction: column;
	pointer-events: all;
	transition: top 0.6s ease;

	* {
		border: none;
		border-radius: 16px;
		padding: 16px;
	}

	h1 {
		padding: 0;
	}

	h2 {
		padding: 0;
	}
	
	input {
		width: 768px;
		background-color: var(--terColor);
		color: var(--secColor);
		pointer-events: all;
		box-shadow: 6px 6px 10px -1px var(--shadowColor);
	}
	
	button {
		pointer-events: all;
		background-color: var(--terColor);
		color: var(--secColor);
		box-shadow: 6px 6px 10px -1px var(--shadowColor);
		opacity: background-color 0.2s linear;
	}

	button:hover {
		background-color: var(--quatColor)
	}
}

#themeSwitch {
	pointer-events: all;
	position: fixed;
	color: var(--secColor);
	user-select: none;
	bottom: 8px;
	left: 8px;
	z-index: 2;
}

#colorSwitch {
	pointer-events: all;
	position: fixed;
	color: var(--quatColor);
	user-select: none;
	bottom: 64px;
	left: 8px;
	z-index: 2;
	background-color: var(--secColor);
	border-radius: 24px;
	padding: 4px;
}

#appTitle {
	width: 100%;
	color: var(--secColor);
	position: fixed;
	top: 0px;
	text-align: center;
	background-color: var(--terColor);
	pointer-events: all;
	z-index: 3;
	box-shadow: 6px 6px 10px -1px var(--shadowColor);
}

#mainScroll {
	width: 100%;
	height: 100%;
	overflow: scroll;
	pointer-events: all;
}

#main {
	width: 768px;
	height: 100%;
	margin: 0px auto;
	padding: 132px 16px 32px 16px;
	background-color: var(--mainColor);
	pointer-events: none;
}

#modpackList>div {
	margin: 32px 0px;
}

#modpackAdd {
	display: flex;
	justify-content: center;

	span {
		color: var(--secColor);
		pointer-events: all;
		align-items: center;
		width: min-content;
		height: min-content;
		margin: 0px 32px;
		padding: 32px;
		background-color: var(--terColor);
		user-select: none;
		box-shadow: 6px 6px 10px -1px var(--shadowColor);
		text-shadow: 4px 4px 6px var(--shadowColor);
		border-radius: 16px;
		transition: background-color 0.2s linear;
	}

	span:hover {
		background-color: var(--quatColor);
	}
}

.modpackContainer {
	box-shadow: 6px 6px 10px -1px var(--shadowColor);
	border-radius: 16px;
	display: flex;
	flex-direction: row;
	align-items: center;
	transition: background-color 0.2s linear;
	pointer-events: all;
}

.textElement {
	color: var(--secColor);
	display: flex;
	justify-content: left;
	align-items: center;
	flex-direction: column;
	text-shadow: 4px 4px 6px var(--shadowColor);
	text-align: center;
	width: 100%;
}

.content {
	box-shadow: inset 6px 6px 10px -1px var(--shadowColor);
	margin: 16px;
	padding: 16px;
	border-radius: 16px;
	border: 4px solid var(--secColor);

	h1 {
		font-size: 36px;
	}
	p {
		opacity: 1;
		transition: opacity 0.2s linear;
		font-size: 12px;
	}
}

.details {
	h1 {
		font-size: 18px;
		font-weight: 700;
	}
	p {
		opacity: 1;
		transition: opacity 0.2s linear;
		font-size: 28px;
		font-weight: 300;
	}
}

.loadingElement {
	height: 160px;
	width: 160px;
	margin: 40px 40px;

	.loadingElement-static {
		width: 160px;
		height: 160px;
	}

	.outer {
		width: 160px;
		height: 160px;
		padding: 20px;
		box-shadow: 6px 6px 10px -1px var(--shadowColor);
		background-color: transparent;
		border-radius: 50%;
	}

	.inner {
		width: 120px;
		height: 120px;
		box-shadow: inset 4px 4px 6px -1px var(--shadowColor);
		border-radius: 50%;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	span {
		color: var(--secColor);
		opacity: 0;
		transition: opacity 0.5s;
		user-select: none;
		text-shadow: 4px 4px 6px var(--shadowColor);
	}

	svg {
		pointer-events: all;
		transition: opacity 1s;
		position: relative;
	}

	circle {
		fill: none;
	}

	.loadingElement-bg {
		stroke: var(--secColor);
		stroke-width: 20px;
	}

	.loadingElement-circle {
		stroke-width: 15px;
		stroke-dasharray: 440px;
		transition: stroke-dashoffset 0.15s;
	}
}